body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #222222;
}

ul {
    list-style: none;
    padding-left: 5px;
}

a {
    color: #0645ad;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    padding: 15px;
    background-color: #f9f9fb;
    border-bottom: solid 1px #a2a9b1;
    text-align: center;
}

.bar {
    background-color: #f9f9fb;
    padding: 15px;
    border-top: solid 1px #a2a9b1;
    border-bottom: solid 1px #a2a9b1;
}

main {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-areas: "sidebar main-content anchors";
    grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
    grid-gap: 3rem;
    padding: 1rem;
}

.sidebar {
    grid-area: sidebar;
    border-right: solid 1px #a2a9b1;
}

.main-content {
    grid-area: main-content;
}

.anchors {
    grid-area: anchors;
    border-left: solid 1px #a2a9b1;
    padding-left: 15px;
}

footer {
    min-height: 100px;
    border-top: solid 1px #a2a9b1;
    padding: 15px;
    text-align: center;
    background-color: #f9f9fb;
}

figure {
    text-align: center;
}

@media (max-width: 768px) {
    main {
        grid-template-areas:
            "main-content"
            "sidebar"
            "anchors";
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    .sidebar, .anchors {
        border: none;
    }
}
