/* Estilos básicos para a página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4d4d4e;
}

header, nav, main, footer {
    padding: 20px;
    margin: 8px;
    background-color: #f8f9facc;
    border-radius: 5px;
}

header h1, footer h2 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    margin-top: 20px;
}

section h2, section h3, section h4, section h5, section h6 {
    color: #0073e6;
}

footer {
    text-align: center;
}
